<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<!-- TODO set your local repository -->
	<localRepository></localRepository>
	
	<profiles>
		<profile>
			<id>dsic</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>dsic-release-repo</id>
					<name>dsic repository</name>
					<url>http://repo1.maven.org/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>dsic-snapshot-repo</id>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
					<name>dsic snapshot repository</name>
					<url>http://repo1.maven.org/</url>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>dsic-plugin-repo</id>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<name>dsic plugin repository</name>
					<url>http://repo1.maven.org/</url>
					<layout>default</layout>
				</pluginRepository>
				<pluginRepository>
					<id>dsic-snapshot-plugin-repo</id>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</snapshots>
					<name>dsic snapshot repository</name>
					<url>http://repo1.maven.org/</url>
					<layout>default</layout>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>dsic</activeProfile>
	</activeProfiles>
	
	<servers>
		<server>
		</server>	
	</servers>
	
</settings>
